# MLB 資料來源 2021.01.25

In [1]:
import sys
sys.path.append('G:\我的雲端硬碟\python')

from polib.CsvEngn import *
import glob
# import mlbgame
from tqdm import tqdm
import requests as rs
from bs4 import BeautifulSoup
import time

## 1. Lahman_db

有各球員、球隊、年度的表現、薪資、球員個人資訊、明星賽資訊
- [說明網頁&下載點 (每年覆蓋整版)](http://www.seanlahman.com/baseball-archive/statistics/)
- 存放位置: G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\1.Lahman_db_2019

> 2020的資料預計2021.02 會更新

In [3]:
path = r"G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\1.Lahman_db_2019\core\*"
n=0
for g in glob.glob(path):
    if g.split("\\")[-1][-3:] == "csv":
        print(g.split("\\")[-1])
        n = n+1
print(f"\n>> 有 {n}個檔案")

Pitching.csv
People.csv
BattingPost.csv
Parks.csv
Batting.csv
ManagersHalf.csv
Managers.csv
HomeGames.csv
HallOfFame.csv
FieldingPost.csv
FieldingOFsplit.csv
FieldingOF.csv
Fielding.csv
TeamsHalf.csv
TeamsFranchises.csv
AwardsSharePlayers.csv
AwardsShareManagers.csv
AwardsPlayers.csv
AwardsManagers.csv
Appearances.csv
Teams.csv
SeriesPost.csv
Schools.csv
Salaries.csv
PitchingPost.csv
CollegePlaying.csv
AllstarFull.csv

>> 有 27個檔案

In [29]:
path = r"G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\1.Lahman_db_2019\core\People.csv"
df = read_data_dir_fPathExt(path)

  >> 讀取:: G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\1.Lahman_db_2019\core\People.csv

In [30]:
df.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [19]:
df.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [31]:
df.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [52]:
name = "David Price"
f_name = "David"
# l_name = "Mark"
mask = (df['nameFirst'].str.find(f_name)>=0)
# (df['nameLast'].str.contains(l_name).fillna(False)) 
# & (df['nameFirst'].str.contains(f_name).fillna(False))
formtoXlsx(df[mask][['nameFirst', 'nameLast', 'nameGiven','playerID']], "David")

 ==輸出備份xlsx== ::: David_20210125_20.29.03.xlsx

## 2. baseball-reference

有各年各球員的WAR數據，區分投、打
- [說明網頁&下載點](https://www.baseball-reference.com/about/war_explained.shtml)
- 存放位置: G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\2.baseball_reference

In [2]:
war_bat_path =  "https://www.baseball-reference.com/data/war_daily_bat.txt"
war_pitch_path =  "https://www.baseball-reference.com/data/war_daily_pitch.txt"

war_bat_df = pd.read_csv(war_bat_path)
war_pitch_df = pd.read_csv(war_pitch_path)

In [3]:
war_bat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108719 entries, 0 to 108718
Data columns (total 49 columns):
name_common           108719 non-null object
age                   108570 non-null float64
mlb_ID                108671 non-null float64
player_ID             108719 non-null object
year_ID               108719 non-null int64
team_ID               108719 non-null object
stint_ID              108719 non-null int64
lg_ID                 107983 non-null object
PA                    108014 non-null float64
G                     108719 non-null int64
Inn                   72463 non-null float64
runs_bat              108719 non-null float64
runs_br               108719 non-null float64
runs_dp               108719 non-null float64
runs_field            108719 non-null float64
runs_infield          72463 non-null float64
runs_outfield         72463 non-null float64
runs_catcher          72463 non-null float64
runs_good_plays       25471 non-null float64
runs_defense          108719 non-null float64
runs_position         108014 non-null float64
runs_position_p       108719 non-null float64
runs_replacement      108014 non-null float64
runs_above_rep        108014 non-null float64
runs_above_avg        108014 non-null float64
runs_above_avg_off    108014 non-null float64
runs_above_avg_def    108014 non-null float64
WAA                   100212 non-null float64
WAA_off               100212 non-null float64
WAA_def               100212 non-null float64
WAR                   100212 non-null float64
WAR_def               100212 non-null float64
WAR_off               100212 non-null float64
WAR_rep               100212 non-null float64
salary                41089 non-null float64
pitcher               108719 non-null object
teamRpG               100212 non-null float64
oppRpG                108719 non-null float64
oppRpPA_rep           108719 non-null float64
oppRpG_rep            100212 non-null float64
pyth_exponent         100212 non-null float64
pyth_exponent_rep     100212 non-null float64
waa_win_perc          100212 non-null float64
waa_win_perc_off      100212 non-null float64
waa_win_perc_def      100212 non-null float64
waa_win_perc_rep      100212 non-null float64
OPS_plus              91135 non-null float64
TOB_lg                108716 non-null float64
TB_lg                 108716 non-null float64
dtypes: float64(41), int64(3), object(5)
memory usage: 40.6+ MB

In [4]:
war_pitch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48477 entries, 0 to 48476
Data columns (total 43 columns):
name_common              48477 non-null object
age                      48446 non-null float64
mlb_ID                   48461 non-null float64
player_ID                48477 non-null object
year_ID                  48477 non-null int64
team_ID                  48477 non-null object
stint_ID                 48477 non-null int64
lg_ID                    48341 non-null object
G                        48477 non-null int64
GS                       48477 non-null int64
IPouts                   48477 non-null int64
IPouts_start             45189 non-null float64
IPouts_relief            45189 non-null float64
RA                       48477 non-null int64
xRA                      48477 non-null float64
xRA_sprp_adj             48282 non-null float64
xRA_extras_adj           770 non-null float64
xRA_def_pitcher          48477 non-null float64
PPF                      48477 non-null int64
PPF_custom               45104 non-null float64
xRA_final                48282 non-null float64
BIP                      48477 non-null int64
BIP_perc                 48477 non-null float64
RS_def_total             48477 non-null float64
runs_above_avg           48282 non-null float64
runs_above_avg_adj       48282 non-null float64
runs_above_rep           48282 non-null float64
RpO_replacement          48477 non-null float64
GR_leverage_index_avg    48477 non-null float64
WAR                      48282 non-null float64
salary                   18602 non-null float64
teamRpG                  48477 non-null float64
oppRpG                   48282 non-null float64
pyth_exponent            48282 non-null float64
waa_win_perc             48282 non-null float64
WAA                      48282 non-null float64
WAA_adj                  48477 non-null float64
oppRpG_rep               48381 non-null float64
pyth_exponent_rep        48381 non-null float64
waa_win_perc_rep         48381 non-null float64
WAR_rep                  48393 non-null float64
ERA_plus                 47018 non-null float64
ER_lg                    48477 non-null float64
dtypes: float64(31), int64(8), object(4)
memory usage: 15.9+ MB

In [5]:
# 原始資料輸出
formtoCsv(war_bat_df, "WAR_bat_org")
formtoCsv(war_pitch_df, "WAR_pitch_org")

 ==輸出備份csv==::: WAR_bat_org_20210307_18.24.25.csv
 >>> 建立今天的工作區: 0307
 ==輸出備份csv==::: WAR_pitch_org_20210307_18.24.47.csv

In [19]:
# 挑選2000~2020之間的資料
mask_bat = war_bat_df['year_ID'].isin([year for year in range(2000,2020+1)])
war_bat_df[mask_bat].reset_index(drop=True, inplace=True)

mask_pitch = war_pitch_df['year_ID'].isin([year for year in range(2000,2020+1)])
war_pitch_df[mask_pitch].reset_index(drop=True, inplace=True)

In [20]:
# # 輸出
# formtoCsv(war_bat_df, "WAR_bat_2000to2020")
# formtoCsv(war_pitch_df, "WAR_pitch_2000to2020")

 ==輸出備份csv==::: WAR_pitch_2000to2020_20210125_10.54.38.csv

In [53]:
path = r"G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\2.baseball_reference\WAR_pitch_2000to2020_20210125_10.54.38.csv"
playerID = "priceda01"
df = read_data_dir_fPathExt(path)

  >> 讀取:: G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\2.baseball_reference\WAR_pitch_2000to2020_20210125_10.54.38.csv

In [55]:
df[df['player_ID'].isin([playerID])]['WAR']

34951    0.49
34952    0.91
34953    4.67
34954    3.31
34955    6.63
34956    2.62
34957    1.67
34958    2.71
34959    3.70
34960    2.58
34961    2.88
34962    1.60
34963    4.19
34964    1.76
Name: WAR, dtype: float64

## 3. Pro Sports Transactions

有每日各全隊的球員交易資訊、傷兵消息、合約消息
- [查詢網站](http://www.prosportstransactions.com/baseball/Search/Search.php)
- [爬蟲程式](https://drive.google.com/open?id=11TZgYE75_sXsnOyHeUEJJoffdQ7xY7VO&authuser=ap105424002%40g.ncu.edu.tw&usp=drive_fs)
- 存放位置 : G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\3.ProSportsTransactions\rawdata

>TODO: 還需要對Notes 做進一步的分類處理

In [32]:
pst_path = r"G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\3.ProSportsTransactions\rawdata\MLB合約資料(每日)_2000年_20210119_09.35.27.pkl"

In [33]:
pst_df = read_data_dir_fPathExt(pst_path)

  >> 讀取:: G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\3.ProSportsTransactions\rawdata\MLB合約資料(每日)_2000年_20210119_09.35.27.pkl

In [34]:
pst_df.head()

,Date,Team,Acquired,Relinquished,Notes
0,2000-01-01,Braves,• Brayan Pena,NaN,signed free agent (N)
1,2000-01-01,Red Sox,• Ron Johnson (David),NaN,hired as A manager (date approximate)
2,2000-01-01,Royals,• Jaime Garcia (a),NaN,(minor league) coach
3,2000-01-01,White Sox,• Mike Shirley,NaN,hired as part-time area scout (date spproximate)
4,2000-01-03,Brewers,• Jose Fernandez (Mayobanex),NaN,signed free agent

In [39]:
pst_df['Notes'].value_counts()

signed free agent                                                                                  130
player became a free agent                                                                         116
assigned to minor league camp                                                                       91
assigned to AAA                                                                                     78
released                                                                                            71
                                                                                                  ...
2000 MLB draft 40th round pick (#1193 overall)                                                       1
2000 MLB draft fourth round pick (#126 overall)                                                      1
2000 MLB draft 23rd round pick (#692 overall)                                                        1
2000 MLB draft eleventh round pick (#340 overall)                                                    1
received from Blue Jays as player to be named later in earlier trade involving Mickey Morandini      1
Name: Notes, Length: 1848, dtype: int64

In [36]:
# Note 提到 free agent
mask = pst_df['Notes'].str.contains("free agent")
pst_df.loc[mask, 'Notes'].value_counts()

signed free agent                                                                         130
player became a free agent                                                                116
signed non-drafted free agent                                                              51
signed free agent to a minor league contract                                               13
player refused minor league assignment and became a free agent                              8
re-signed free agent                                                                        4
signed undrafted free agent                                                                 4
re-signed free agent to a minor league contract                                             2
team declined to exercise contract option, making player a free agent                       2
signed free agent to a 3-year contract through 2003 with a 1-year team option for 2004      2
received from Devil Rays as compensation for free agent Steve Trachsel                      1
received from MLB as compensation for free agent Mike Mussina                               1
sent to Red Sox as compensation for free agent Rheal Cormier                                1
player exercised option to become a free agent                                              1
signed free agent to a 1-year contract                                                      1
received from Indians as compensation for free agent Ellis Burks                            1
cleared waivers and became a free agent                                                     1
sent to Cardinals as compensation for free agent Darren Oliver                              1
signed free agent to a 2-year contract                                                      1
signed free agent (from Royals) to a 1-year contract                                        1
re-signed free agent to a 1-year contract                                                   1
signed non-drafted free agent to a minor league contract                                    1
received from Yankees as compensation for free agent Mike Mussina                           1
signed free agent (from Mariners) to a 1-year contract                                      1
received from Phillies as compensation for free agent Rheal Cormier                         1
signed free agent (from Yankees) to a 1-year contract                                       1
received from MLB as compensation for free agent Ellis Burks                                1
team declined to tender contract, making player a free agent                                1
signed free agent (N)                                                                       1
received from MLB as compensation for free agent Aaron Sele                                 1
signed as a free agent by Independent Adirondack (Northern)                                 1
received from MLB as compensation for free agent Julian Tavarez                             1
sent to Mariners as compensation for free agent Jose Mesa (R.N.)                            1
received from Rangers as compensation for free agent Darren Oliver                          1
received from Devil Rays as compensation for free agent Juan Guzman (Andres)                1
sent to Orioles as compensation for free agent Mike Mussina                                 1
received from Mariners as compensation for free agent Aaron Sele                            1
signed free agent to a 4-year contract                                                      1
received from MLB as compensation for free agent Juan Guzman (Andres)                       1
sent to Reds as compensation for free agent Juan Guzman (Andres)                            1
received from Phillies as compensation for free agent Jose Mesa (R.N.)                      1
re-signed free agent to a 3-year contract with team option for 2004                         1
sent to Cubs as compensation for free agent Steve Trachsel                                  1
sent to Rangers as compensation for free agent Aaron Sele                                   1
signed free agent to a 6-year contract                                                      1
sent to Giants as compensation for free agent Ellis Burks                                   1
Name: Notes, dtype: int64

In [40]:
# Note 提到 released
mask = pst_df['Notes'].str.contains("released")
pst_df.loc[mask, 'Notes'].value_counts()

released                                  71
released (team bought out contract)        1
released (date 11-27 per some sources)     1
Name: Notes, dtype: int64

In [38]:
# Note 提到 contract
mask = pst_df['Notes'].str.contains("contract")
pst_df.loc[mask, 'Notes'].value_counts()

signed to a minor league contract                                  63
signed to a 1-year contract                                        34
re-signed to a 1-year contract                                     18
signed free agent to a minor league contract                       13
team exercised contract option for 2001                             8
                                                                   ..
re-signed to a 4-year contract                                      1
team exercised contract option for 01                               1
re-signed as manager to a 2-year contract                           1
signed to a 1-year contract extension with team option for 2003     1
re-signed as manager to a 1-year contract extension                 1
Name: Notes, Length: 69, dtype: int64

## 4. retrosheet gamelog

有每場比賽的詳細消息:出賽球員、總計投打結果、每局得分，區分主客隊
- [說明網頁&下載點](https://www.retrosheet.org/gamelogs/index.html)
- 存放位置: G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\4.retrosheet_gamelog

In [24]:
path = r"G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\4.retrosheet_gamelog\game_logs.csv"
retrosheet_game_log_df = read_data_dir_fPathExt(path)

  >> 讀取:: G:\我的雲端硬碟\learning\論文今年會寫完\0.資源包\2.資料\4.retrosheet_gamelog\game_logs.csv

C:\Users\EMCT_Jeff\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3263: DtypeWarning: Columns (12,13,14,15,19,20,81,83,85,87,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [30]:
retrosheet_game_log_df.iloc[0].to_dict()

{'date': 18710504,
 'number_of_game': 0,
 'day_of_week': 'Thu',
 'v_name': 'CL1',
 'v_league': 'na',
 'v_game_number': 1,
 'h_name': 'FW1',
 'h_league': 'na',
 'h_game_number': 1,
 'v_score': 0,
 'h_score': 2,
 'length_outs': 54.0,
 'day_night': 'D',
 'completion': nan,
 'forefeit': nan,
 'protest': nan,
 'park_id': 'FOR01',
 'attendance': 200.0,
 'length_minutes': 120.0,
 'v_line_score': '000000000',
 'h_line_score': '010010000',
 'v_at_bats': 30.0,
 'v_hits': 4.0,
 'v_doubles': 1.0,
 'v_triples': 0.0,
 'v_homeruns': 0.0,
 'v_rbi': 0.0,
 'v_sacrifice_hits': 0.0,
 'v_sacrifice_flies': 0.0,
 'v_hit_by_pitch': 0.0,
 'v_walks': 1.0,
 'v_intentional walks': -1.0,
 'v_strikeouts': 6.0,
 'v_stolen_bases': 1.0,
 'v_caught_stealing': -1.0,
 'v_grounded_into_double': -1.0,
 'v_first_catcher_interference': -1.0,
 'v_left_on_base': 4.0,
 'v_pitchers_used': 1.0,
 'v_individual_earned_runs': 1.0,
 'v_team_earned_runs': 1.0,
 'v_wild_pitches': 0.0,
 'v_balks': 0.0,
 'v_putouts': 27.0,
 'v_assists': 9.0,
 'v_errors': 0.0,
 'v_passed_balls': 3.0,
 'v_double_plays': 0.0,
 'v_triple_plays': 0.0,
 'h_at_bats': 31.0,
 'h_hits': 4.0,
 'h_doubles': 1.0,
 'h_triples': 0.0,
 'h_homeruns': 0.0,
 'h_rbi': 2.0,
 'h_sacrifice_hits': 0.0,
 'h_sacrifice_flies': 0.0,
 'h_hit_by_pitch': 0.0,
 'h_walks': 1.0,
 'h_intentional walks': -1.0,
 'h_strikeouts': 0.0,
 'h_stolen_bases': 0.0,
 'h_caught_stealing': -1.0,
 'h_grounded_into_double': -1.0,
 'h_first_catcher_interference': -1.0,
 'h_left_on_base': 3.0,
 'h_pitchers_used': 1.0,
 'h_individual_earned_runs': 0.0,
 'h_team_earned_runs': 0.0,
 'h_wild_pitches': 0.0,
 'h_balks': 0.0,
 'h_putouts': 27.0,
 'h_assists': 3.0,
 'h_errors': 3.0,
 'h_passed_balls': 1.0,
 'h_double_plays': 1.0,
 'h_triple_plays': 0.0,
 'hp_umpire_id': 'boakj901',
 'hp_umpire_name': 'John Boake',
 '1b_umpire_id': nan,
 '1b_umpire_name': '(none)',
 '2b_umpire_id': nan,
 '2b_umpire_name': '(none)',
 '3b_umpire_id': nan,
 '3b_umpire_name': '(none)',
 'lf_umpire_id': nan,
 'lf_umpire_name': '(none)',
 'rf_umpire_id': nan,
 'rf_umpire_name': '(none)',
 'v_manager_id': 'paboc101',
 'v_manager_name': 'Charlie Pabor',
 'h_manager_id': 'lennb101',
 'h_manager_name': 'Bill Lennon',
 'winning_pitcher_id': 'mathb101',
 'winning_pitcher_name': 'Bobby Mathews',
 'losing_pitcher_id': 'prata101',
 'losing_pitcher_name': 'Al Pratt',
 'saving_pitcher_id': nan,
 'saving_pitcher_name': '(none)',
 'winning_rbi_batter_id': nan,
 'winning_rbi_batter_id_name': '(none)',
 'v_starting_pitcher_id': 'prata101',
 'v_starting_pitcher_name': 'Al Pratt',
 'h_starting_pitcher_id': 'mathb101',
 'h_starting_pitcher_name': 'Bobby Mathews',
 'v_player_1_id': 'whitd102',
 'v_player_1_name': 'Deacon White',
 'v_player_1_def_pos': 2.0,
 'v_player_2_id': 'kimbg101',
 'v_player_2_name': 'Gene Kimball',
 'v_player_2_def_pos': 4.0,
 'v_player_3_id': 'paboc101',
 'v_player_3_name': 'Charlie Pabor',
 'v_player_3_def_pos': 7.0,
 'v_player_4_id': 'allia101',
 'v_player_4_name': 'Art Allison',
 'v_player_4_def_pos': 8.0,
 'v_player_5_id': 'white104',
 'v_player_5_name': 'Elmer White',
 'v_player_5_def_pos': 9.0,
 'v_player_6_id': 'prata101',
 'v_player_6_name': 'Al Pratt',
 'v_player_6_def_pos': 1.0,
 'v_player_7_id': 'sutte101',
 'v_player_7_name': 'Ezra Sutton',
 'v_player_7_def_pos': 5.0,
 'v_player_8_id': 'carlj102',
 'v_player_8_name': 'Jim Carleton',
 'v_player_8_def_pos': 3.0,
 'v_player_9_id': 'bassj101',
 'v_player_9_name': 'John Bass',
 'v_player_9_def_pos': 6.0,
 'h_player_1_id': 'selmf101',
 'h_player_1_name': 'Frank Sellman',
 'h_player_1_def_pos': 5.0,
 'h_player_2_id': 'mathb101',
 'h_player_2_name': 'Bobby Mathews',
 'h_player_2_def_pos': 1.0,
 'h_player_3_id': 'foraj101',
 'h_player_3_name': 'Jim Foran',
 'h_player_3_def_pos': 3.0,
 'h_player_4_id': 'goldw101',
 'h_player_4_name': 'Wally Goldsmith',
 'h_player_4_def_pos': 6.0,
 'h_player_5_id': 'lennb101',
 'h_player_5_name': 'Bill Lennon',
 'h_player_5_def_pos': 2.0,
 'h_player_6_id': 'caret101',
 'h_player_6_name': 'Tom Carey',
 'h_player_6_def_pos': 4.0,
 'h_player_7_id': 'mince101',
 'h_player_7_name': 'Ed Mincher',
 'h_player_7_def_pos': 7.0,
 'h_player_8_id': 'mcdej101',
 'h_player_8_name': 'James McDermott',
 'h_player_8_def_pos': 8.0,
 'h_player_9_id': 'kellb105',
 'h_player_9_name': 'Bill Kelly',
 'h_player_9_def_pos': 9.0,
 'additional_info': nan,
 'acquisition_info': 'Y'}

## 5. MLB Game API

可獲得每場比賽的詳細資訊: 每局戰況、每球球速、投打結果
- [說明文件](https://panz.io/mlbgame/)
- [github](https://github.com/panzarino/mlbgame)

In [2]:
from __future__ import print_function
import mlbgame
print(mlbgame.__file__)

C:\Users\EMCT_Jeff\anaconda3\lib\site-packages\mlbgame\__init__.py

In [10]:
import lxml.etree as etree

import mlbgame.data
import mlbgame.object

In [3]:
month = mlbgame.games(2015, 6, home='Mets')
games = mlbgame.combine_games(month)
for game in games:
    print(game)

Giants (5) at Mets (0)
Giants (8) at Mets (5)
Giants (4) at Mets (5)
Braves (3) at Mets (5)
Braves (5) at Mets (3)
Braves (8) at Mets (10)
Blue Jays (3) at Mets (4)
Blue Jays (2) at Mets (3)
Reds (1) at Mets (2)
Reds (1) at Mets (2)
Reds (1) at Mets (2)
Cubs (1) at Mets (0)

In [4]:
day = mlbgame.day(2015, 4, 12, home='Royals', away='Royals')
game = day[0]
output = 'Winning pitcher: %s (%s) - Losing Pitcher: %s (%s)'
print(output % (game.w_pitcher, game.w_team, game.l_pitcher, game.l_team))

Winning pitcher: Yordano Ventura (Royals) - Losing Pitcher: C.J. Wilson (Angels)

In [5]:
gid = game.game_id
gid

'2015_04_12_kcamlb_anamlb_1'

In [17]:
events = mlbgame.events.game_events(gid)

In [22]:
# 打了9局
events.keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9'])

In [23]:
# 第1局分上、下半場
events['1'].keys()

dict_keys(['top', 'bottom'])

In [30]:
# 1局上半有4個打數
len(events['1']['top'])

4

In [26]:
# 1局上半第一個打數的欄位
events['1']['top'][0].keys()

dict_keys(['tag', '_endpoint', 'num', 'away_team_runs', 'home_team_runs', 'play_guid', 'event_es', 'event', 'event_num', 'des_es', 'des', 'p_throws', 'pitcher', 'b_height', 'stand', 'batter', 'end_tfs_zulu', 'start_tfs_zulu', 'start_tfs', 'o', 's', 'b', 'pitches'])

In [32]:
# 1局上半第一個打數總共用了5球
len(events['1']['top'][0]['pitches'])

5

In [34]:
# 1局上半第一個打數第一球的欄位
events['1']['top'][0]['pitches'][0].keys()

dict_keys(['_endpoint', 'id', 'event_num', 'des_es', 'des', 'mt', 'cc', 'spin_rate', 'spin_dir', 'play_guid', 'nasty', 'zone', 'type_confidence', 'pitch_type', 'break_length', 'break_angle', 'break_y', 'az', 'ay', 'ax', 'vz0', 'vy0', 'vx0', 'z0', 'y0', 'x0', 'pz', 'px', 'pfx_z', 'pfx_x', 'end_speed', 'start_speed', 'sv_id', 'tfs_zulu', 'sz_bot', 'sz_top', 'y', 'x', 'tfs', 'code', 'type'])

## 6. ESPN freeagents

- [連結](https://www.espn.com/mlb/freeagents/_/year/2019)

In [20]:
cols_name = ['PLAYER', 'POS', 'AGE', 'STATUS', 'ORG TEAM', 'NEW TEAM', 'YRS', 'RK', 'DOLLARS']
all_df = pd.DataFrame(columns=cols_name)

for y in range(2006,2020+1):
    #呼叫
    espn_url = f"https://www.espn.com/mlb/freeagents/_/year/{y}"
    df = pd.read_html(espn_url)
    
    #擷取
    the_df = df[0].iloc[2:,:]
    the_df.columns =  df[0].iloc[1,:]
    
    #清理
    the_df_clean = the_df[~the_df["AGE"].isin(["AGE"])].reset_index(drop=True)
    the_df_clean.rename(columns={f"{y} TEAM": "ORG TEAM"}, inplace=True)
    
    #合併
    the_df_clean.loc[:, "YEAR"] = y
    all_df = all_df.append(the_df_clean, sort=True)
    print(">>", y, "年", len(the_df_clean))

all_df = all_df.reset_index(drop=True)
print(">>OVER!!", all_df.info())

>> 2006 年 210
>> 2007 年 190
>> 2008 年 217
>> 2009 年 222
>> 2010 年 227
>> 2011 年 191
>> 2012 年 182
>> 2013 年 225
>> 2014 年 137
>> 2015 年 163
>> 2016 年 203
>> 2017 年 203
>> 2018 年 277
>> 2019 年 265
>> 2020 年 301
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3213 entries, 0 to 3212
Data columns (total 10 columns):
AGE         3211 non-null object
DOLLARS     3213 non-null object
NEW TEAM    3213 non-null object
ORG TEAM    3213 non-null object
PLAYER      3213 non-null object
POS         3213 non-null object
RK          3213 non-null object
STATUS      3213 non-null object
YEAR        3213 non-null float64
YRS         1588 non-null object
dtypes: float64(1), object(9)
memory usage: 251.1+ KB
>>OVER!! None

In [21]:
#存檔
formtoCsv(all_df, "ESPN_FreeAgent_2006to2020")

 ==輸出備份csv==::: ESPN_FreeAgent_2006to2020_20210208_17.45.26.csv
 >>> 建立今天的工作區: 0208

## 7. Baseball Reference freeagents (資料數較多)

- [連結](https://www.baseball-reference.com/leagues/MLB/2000-free-agents.shtml)

In [38]:

cols_name = ['Rk', 'Name', 'Date', 'To Team', 'From Team', 'Age', 'WAR3', 'Yrs', 'G',
       'AB', 'R', 'H', 'HR', 'RBI', 'SB', 'BB', 'BA', 'OBP', 'SLG', 'OPS', 'W',
       'L', 'ERA', 'WHIP', 'G.1', 'GS', 'SV', 'IP', 'H.1', 'HR.1', 'BB.1',
       'SO']
all_df = pd.DataFrame(columns=cols_name)

for y in range(2000,2020+1):
    #呼叫
    BR_url = f"https://www.baseball-reference.com/leagues/MLB/{y}-free-agents.shtml"
    df = pd.read_html(BR_url)
    
    #擷取
    the_df = df[0]
    
    #合併
    the_df.loc[:, "YEAR"] = y
    all_df = all_df.append(the_df, sort=True)
    print(">>", y, "年", len(the_df))

all_df = all_df.drop_duplicates().reset_index(drop=True)
print(">>OVER!!", all_df.info())

>> 2000 年 339
>> 2001 年 358
>> 2002 年 442
>> 2003 年 542
>> 2004 年 529
>> 2005 年 453
>> 2006 年 429
>> 2007 年 419
>> 2008 年 452
>> 2009 年 461
>> 2010 年 460
>> 2011 年 437
>> 2012 年 441
>> 2013 年 425
>> 2014 年 413
>> 2015 年 446
>> 2016 年 416
>> 2017 年 407
>> 2018 年 388
>> 2019 年 411
>> 2020 年 226
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8894 entries, 0 to 8893
Data columns (total 33 columns):
AB           7176 non-null float64
Age          8894 non-null object
BA           6481 non-null float64
BB           7173 non-null float64
BB.1         3688 non-null float64
Date         8894 non-null object
ERA          3688 non-null float64
From Team    8894 non-null object
G            7176 non-null float64
G.1          3688 non-null float64
GS           3688 non-null float64
H            7173 non-null float64
H.1          3688 non-null float64
HR           7173 non-null float64
HR.1         3688 non-null float64
IP           3688 non-null float64
L            3688 non-null float64
Name         8894 non-null object
OBP          6511 non-null float64
OPS          6481 non-null float64
R            7173 non-null float64
RBI          7173 non-null float64
Rk           8894 non-null object
SB           7173 non-null float64
SLG          6481 non-null float64
SO           3688 non-null float64
SV           3688 non-null float64
To Team      8857 non-null object
W            3688 non-null float64
WAR3         8330 non-null float64
WHIP         3686 non-null float64
YEAR         8894 non-null float64
Yrs          8894 non-null object
dtypes: float64(26), object(7)
memory usage: 2.2+ MB
>>OVER!! None

In [39]:
#存檔
formtoCsv(all_df, "BR_FreeAgent_2000to2020")

 ==輸出備份csv==::: BR_FreeAgent_2000to2020_20210208_18.02.07.csv

## 8. ESPN FA合約、年薪資料(含簽約與未簽約的FA)

In [2]:
df_all = pd.DataFrame()
for year in range(2006, 2019+1):
    print(f">> {year}")
    url = f"https://www.espn.com/mlb/freeagents/_/year/{year}/type"
    
    # Clean & Mark
    df = pd.read_html(url,header=1)[0]
    df = df[~(df.loc[:,"PLAYER"].isin(['PLAYER', 'Total:']))].reset_index(drop=True)
    df.loc[:,"YEAR"] = year
    df.rename(columns={f"{year} TEAM":"ORG TEAM"}, inplace=True)
    
    # add Links
    response = rs.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table')

    links = []
    for tr in table.findAll("tr"):
        trs = tr.findAll("td")
        for each in trs:
            try:
                link = each.find('a')['href']
                links.append(link)
            except:
                pass
    if year==2009: # 特例處裡 Noel Arguelles:沒有link 拿掉
        df = df[~df["PLAYER"].isin([
            "Noel Arguelles", "Ryota Igarashi"])].reset_index(drop=True)
    df["link"] = links
    
    #串檔
    df_all = pd.concat([df_all,df])
df_all.reset_index(drop=True, inplace=True)
df_all.info()

>> 2006
>> 2007
>> 2008
>> 2009
>> 2010
>> 2011
>> 2012
>> 2013
>> 2014
>> 2015
>> 2016
>> 2017
>> 2018
>> 2019
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2910 entries, 0 to 2909
Data columns (total 11 columns):
PLAYER      2910 non-null object
POS         2910 non-null object
AGE         2909 non-null object
STATUS      2910 non-null object
ORG TEAM    2910 non-null object
NEW TEAM    2910 non-null object
YRS         1529 non-null object
RK          2910 non-null object
DOLLARS     2910 non-null object
YEAR        2910 non-null int64
link        2910 non-null object
dtypes: int64(1), object(10)
memory usage: 250.2+ KB

#### 檢查link與球員名稱是否接對應

In [8]:
df_all["is_PLAYER_link_check"] = df_all.apply(
    lambda row: "-".join(row["PLAYER"].split(" ")).lower() in row["link"]  , axis=1)

In [9]:
df_all["is_PLAYER_link_check"].value_counts()

True     2900
False      10
Name: is_PLAYER_link_check, dtype: int64

In [5]:
df_all[df_all["is_PLAYER_link_check"].isin([False])] # 西班牙文的 base編碼，正常

,PLAYER,POS,AGE,STATUS,ORG TEAM,NEW TEAM,YRS,RK,DOLLARS,YEAR,link,is_PLAYER_link_check
333,José Molina,RP,45,Signed,Yankees,Yankees,2,NR,"$4,000,000",2007,https://www.espn.com/mlb/player/_/id/4169/jos%...,False
580,Iván Rodríguez,C,49,Signed,Yankees,Astros,1,46,"$1,500,000",2008,https://www.espn.com/mlb/player/_/id/2523/iv%C...,False
618,Alfredo Amézaga,SS,43,Signed,Marlins,Dodgers,NaN,NR,Minor Lg,2009,https://www.espn.com/mlb/player/_/id/5066/alfr...,False
761,José Molina,RP,45,Signed,Yankees,Blue Jays,1,NR,"$400,000",2009,https://www.espn.com/mlb/player/_/id/4169/jos%...,False
794,Iván Rodríguez,C,49,Signed (B),Rangers,Nationals,2,NR,"$6,000,000",2009,https://www.espn.com/mlb/player/_/id/2523/iv%C...,False
871,Jorge Cantú,3B,39,Signed,Rays,Padres,1,NR,"$850,000",2010,https://www.espn.com/mlb/player/_/id/6033/jorg...,False
1184,José Molina,RP,45,Signed,Blue Jays,Rays,1,NR,"$1,500,000",2011,https://www.espn.com/mlb/player/_/id/4169/jos%...,False
1219,Iván Rodríguez,C,49,FA,Nationals,--,NaN,NR,--,2011,https://www.espn.com/mlb/player/_/id/2523/iv%C...,False
1574,José Molina,RP,45,Signed,Rays,Rays,2,NR,"$4,500,000",2013,https://www.espn.com/mlb/player/_/id/4169/jos%...,False
1606,Félix Pie,LF,36,Signed,Pirates,Japan,NaN,NR,--,2013,https://www.espn.com/mlb/player/_/id/6475/f%C3...,False

In [10]:
df_all["PLAYER_id"] = df_all["link"].apply(lambda url: int(url.split("/id/")[1].split("/")[0]))

In [11]:
#存檔
formtoCsv(df_all, "ESPN_FreeAgent_2006to2019")

 ==輸出備份csv==::: ESPN_FreeAgent_2006to2020_20210417_12.00.34.csv

### 從links 抓取球員歷年表現資料、計算年資

In [12]:
playerID_link_dict = dict(zip(df_all.PLAYER_id, df_all.link))

In [13]:
playerID_link_dict[43186]

'https://www.espn.com/mlb/player/_/id/43186/sandy-alomar-jr.'

In [14]:
len(playerID_link_dict)

1454

### 分開跑

In [22]:
playerID_link_dict[4108]

'https://www.espn.com/mlb/player/_/id/4108/john-mcdonald'

In [23]:
player_stats_all = pd.DataFrame()
stats_no_data_player_lst = []

for i, (_id, url) in enumerate(tqdm(playerID_link_dict.items())):
    head, tail = url.split("/_/")
    # Stats
    stats_url = head + "/stats/_/" + tail
    try:
        r = pd.read_html(stats_url)
        df_temp = pd.concat([r[0].loc[:len(r[0])-3,:], r[1].loc[:len(r[1])-3,:]], sort=False, axis=1)
        df_temp["playerID"] = _id

        # 年資就是對出賽賽季(已排序)做Label Encoding+1
        df_temp.season = pd.Categorical(df_temp.season)
        df_temp["Yrs"] = df_temp.season.cat.codes+1
        
        player_stats_all = pd.concat([player_stats_all,df_temp],sort=False)
    except:
        print(stats_url)
        stats_no_data_player_lst.append(_id)
        pass

    
    time.sleep(1)

player_stats_all.reset_index(drop=True, inplace=True)

  3%|██▋                                                                           | 49/1454 [02:37<1:24:32,  3.61s/it]

https://www.espn.com/mlb/player/stats/_/id/3473/darin-erstad

  6%|████▍                                                                         | 82/1454 [04:41<1:16:52,  3.36s/it]

https://www.espn.com/mlb/player/stats/_/id/4171/shea-hillenbrand

  6%|████▍                                                                         | 83/1454 [04:49<1:47:49,  4.72s/it]

https://www.espn.com/mlb/player/stats/_/id/3141/todd-hollandsworth

 10%|███████▎                                                                     | 139/1454 [07:53<1:12:00,  3.29s/it]

https://www.espn.com/mlb/player/stats/_/id/2936/eduardo-perez

 13%|█████████▋                                                                   | 183/1454 [10:13<1:01:38,  2.91s/it]

https://www.espn.com/mlb/player/stats/_/id/3539/todd-walker

 17%|█████████████▏                                                               | 248/1454 [13:41<1:04:01,  3.19s/it]

https://www.espn.com/mlb/player/stats/_/id/6082/jerry-gil

 18%|██████████████▏                                                              | 267/1454 [14:53<1:11:35,  3.62s/it]

https://www.espn.com/mlb/player/stats/_/id/28869/ryan-ketchner

 20%|███████████████▎                                                             | 290/1454 [16:07<1:01:09,  3.15s/it]

https://www.espn.com/mlb/player/stats/_/id/4169/jos%C3%A9-molina

 23%|██████████████████▏                                                            | 334/1454 [18:26<55:35,  2.98s/it]

https://www.espn.com/mlb/player/stats/_/id/29274/mario-alvarez

 25%|███████████████████▏                                                         | 363/1454 [19:54<1:05:39,  3.61s/it]

https://www.espn.com/mlb/player/stats/_/id/30002/jairo-cuevas

 32%|████████████████████████▉                                                      | 460/1454 [24:47<51:03,  3.08s/it]

https://www.espn.com/mlb/player/stats/_/id/6196/brian-anderson

 36%|████████████████████████████▍                                                  | 524/1454 [28:02<45:43,  2.95s/it]

https://www.espn.com/mlb/player/stats/_/id/28651/adam-miller

 37%|████████████████████████████▉                                                  | 532/1454 [28:32<56:21,  3.67s/it]

https://www.espn.com/mlb/player/stats/_/id/30075/jackson-quezada

 48%|█████████████████████████████████████▌                                         | 692/1454 [36:09<40:55,  3.22s/it]

https://www.espn.com/mlb/player/stats/_/id/6048/jose-lopez

 53%|█████████████████████████████████████████▌                                     | 764/1454 [40:03<32:31,  2.83s/it]

https://www.espn.com/mlb/player/stats/_/id/32584/hiroyuki-nakajima

 68%|█████████████████████████████████████████████████████▉                         | 993/1454 [51:55<24:50,  3.23s/it]

https://www.espn.com/mlb/player/stats/_/id/34840/yaisel-sierra

 72%|████████████████████████████████████████████████████████▍                     | 1053/1454 [54:48<17:23,  2.60s/it]

https://www.espn.com/mlb/player/stats/_/id/34855/yorman-landa

 73%|████████████████████████████████████████████████████████▉                     | 1062/1454 [55:14<18:48,  2.88s/it]

https://www.espn.com/mlb/player/stats/_/id/33566/thomas-milone

100%|████████████████████████████████████████████████████████████████████████████| 1454/1454 [1:15:10<00:00,  3.10s/it]

In [62]:
player_bio_all = pd.DataFrame()
bio_no_data_player_lst = []

for i, (_id, url) in enumerate(tqdm(playerID_link_dict.items())):
    head, tail = url.split("/_/")
    df_temp = pd.DataFrame(index=[0])
    df_temp["playerID"] = _id
    # Bio
    bio_url = head + "/bio/_/" + tail
    try:
        response = rs.get(bio_url)
        soup = BeautifulSoup(response.text, 'html.parser')
        spans = soup.find_all('span')
        span_lst = []
        for i, span in enumerate(spans):
            span_lst.append(span.string)
            if "Position" in str(span_lst[i-1]):
                POS = span.string

            if "DOB" in str(span_lst[i-1]):
                DOB = span.string

            if "Birthplace" in str(span_lst[i-1]):
                Birthplace = span.string

        df_temp["POS"] = POS
        df_temp["DOB"] = DOB
        df_temp["Birthplace"] = Birthplace

        if "Pitcher" in POS:
            df_temp["TYPE"] = "pitch"
            player_bio_all = pd.concat([player_bio_all,df_temp],sort=False)

        else:
            df_temp["TYPE"] = "bat"
            player_bio_all = pd.concat([player_bio_all,df_temp],sort=False)

    except:
        print(bio_url)
        bio_no_data_player_lst.append(_id)
        pass

    time.sleep(1)

player_bio_all.reset_index(drop=True, inplace=True)

 35%|███████████████████████████▋                                                   | 509/1454 [18:22<50:51,  3.23s/it]

https://www.espn.com/mlb/player/bio/_/id/23283/mike-jacobs

100%|██████████████████████████████████████████████████████████████████████████████| 1454/1454 [52:16<00:00,  2.16s/it]

In [63]:
#存檔
formtoCsv(player_stats_all, "ESPN_player_stats_all")
formtoCsv(player_bio_all, "ESPN_player_bio_all")

 ==輸出備份csv==::: ESPN_player_bio_all_20210417_15.23.45.csv

In [64]:
print(len(stats_no_data_player_lst), len(bio_no_data_player_lst))

18 1

In [27]:
stats_no_data_player_lst

[3473,
 4171,
 3141,
 2936,
 3539,
 6082,
 28869,
 4169,
 29274,
 30002,
 6196,
 28651,
 30075,
 6048,
 32584,
 34840,
 34855,
 33566]

## Spotrac(premiun)

|編號|  需要的變數 | 資料位置  | 資料時間  | 備註  |
|---|---|---|---|---|
|1| 球員歷年表現數據(不分球隊)  | https://www.spotrac.com/mlb/arizona-diamondbacks/madison-bumgarner-7510/statistics/  |   |   |
|2|  球員基本資料 | https://www.spotrac.com/mlb/arizona-diamondbacks/madison-bumgarner-7510/  |   |  沒有生日，需要從合約串每年的歲數 |
|3|  FA紀錄 | https://www.spotrac.com/mlb/free-agents/20XX/  | 2011~2026，但2011資料只有2筆  | 如果跟之前一樣從這邊撈球員ID會缺少從來沒成為過FA的大咖  |
|4|  簽約紀錄 | https://www.spotrac.com/mlb/arizona-diamondbacks/madison-bumgarner-7510/  |   |   |
|5|  **球隊球員薪水 (切入點)** | https://www.spotrac.com/mlb/arizona-diamondbacks/payroll/20XX/  | 2011~2024  | 可以做完切入點去撈球員ID，在從球員頁面去撈歷年表現、薪資、基本資料、合約紀錄、傷兵天數  |
|6| 球員傷兵天數 | https://www.spotrac.com/mlb/arizona-diamondbacks/madison-bumgarner-7510/injuries/  |   |   |

> <font size="4">**資料蒐集流程**</font>
> - 登入網站並已同一個session 去GET下列動作
> - 取得球隊清單>> 取得歷年球隊的所有球員薪水(取得所有球員ID) >>已球員ID到球員個人頁，抓基本資料、合約紀錄、歷年表現數據(分球隊)、傷兵天數紀錄
> - 取得FA紀錄 >> 串聯歷年球員表現、基本資料、合約狀態、傷兵紀錄、薪水、基本資料 (大表)
> - 可能會遇到的資料處理問題:
>   - 球員歷年表現數據是有區分球隊的，如果需要的是個人年度的表現，如何加總?(依照出賽場數加權平均?)
>   - 球員基本資料中並沒有生日，需要從合約資料中的AGE去反推
>   - FA紀錄中球隊代號會有歷史版本

### 登入

In [2]:
dicHeaders = {"User-Agent": "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36"}
url_login = 'https://www.spotrac.com/signin/submit/'
post_dict = {"email":"pedroia4515@gmail.com", "password":"yankeesuck"}

In [3]:
sssn = rs.session()
sssn.headers = dicHeaders
sssn.stream = True
sssn.verify = False

In [4]:
# 關閉連線警告
import requests.packages.urllib3
requests.packages.urllib3.disable_warnings()

In [5]:
#登入網站
response = sssn.post(url_login, data=post_dict, verify=False)
if response.status_code == 200:
    print('>> 登入成功!!')

>> 登入成功!!

### 取得球隊清單

In [6]:
path = r"https://www.spotrac.com/mlb/arizona-diamondbacks/payroll/"
r = sssn.get(path)

In [7]:
# 取得 球隊名稱
from bs4 import BeautifulSoup as Soup
soup = Soup(r.text)
# for option in soup.select("option"):
#     print('value: {}, text: {}'.format(option['value'], option.text))
#     print(option.text)
    
team_lst = [option['value'] for option in soup.select("option")][6:-16]
print(f"team_lst: {len(team_lst)}")

team_lst: 30

In [8]:
team_lst

['arizona-diamondbacks',
 'atlanta-braves',
 'baltimore-orioles',
 'boston-red-sox',
 'chicago-cubs',
 'chicago-white-sox',
 'cincinnati-reds',
 'cleveland-indians',
 'colorado-rockies',
 'detroit-tigers',
 'houston-astros',
 'kansas-city-royals',
 'los-angeles-angels',
 'los-angeles-dodgers',
 'miami-marlins',
 'milwaukee-brewers',
 'minnesota-twins',
 'new-york-mets',
 'new-york-yankees',
 'oakland-athletics',
 'philadelphia-phillies',
 'pittsburgh-pirates',
 'san-diego-padres',
 'san-francisco-giants',
 'seattle-mariners',
 'st-louis-cardinals',
 'tampa-bay-rays',
 'texas-rangers',
 'toronto-blue-jays',
 'washington-nationals']

In [9]:
year_lst = [y for y in range(2011,2021+1)]
year_lst

[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

### 球隊球員薪水頁面

- table_0: active players salary
- table_1: Injured List players salary (Salaries from players who have been placed on the injured list, still counting against the payroll)
- table_2: Retained Salaries (Leftover salaries from players who have been traded or released, or buyouts for declined options)
- table_3: Minor/In the System (Salaries from players currently in the system.  denotes a buried salary that counts against the payroll)
- table_4: Signing Bonus (Does not count against team payroll)

In [10]:
active_salary_df = pd.DataFrame()
injured_salary_df = pd.DataFrame()
retained_salary_df = pd.DataFrame()
minor_salary_df = pd.DataFrame()
signing_bonus_df = pd.DataFrame()
player_url_dict = {}

for i, team in enumerate(team_lst):
    print(f">> [{i+1}/{len(team_lst)}] {team}")
    for year in tqdm(year_lst):

        path = f"https://www.spotrac.com/mlb/{team}/payroll/{year}"
        r = sssn.get(path)
        soup = Soup(r.text)
        
        table_index = 0
        table_h2_lst = [a.text for a in soup.select("h2")]

        active_salary_df_tmp = pd.read_html(r.text)[table_index]
        active_salary_df_tmp.rename(columns={active_salary_df_tmp.columns[0]:"Player"}, inplace=True)
        active_salary_df_tmp.loc[:,"team"] = team
        active_salary_df_tmp.loc[:,"year"] = year
        active_salary_df_tmp.loc[:,"table_type"] = "active"
        active_salary_df = pd.concat([active_salary_df, active_salary_df_tmp], ignore_index=True)

        if f"{year} Injured List" in table_h2_lst:
            table_index += 1
            injured_salary_df_tmp = pd.read_html(r.text)[table_index]
            injured_salary_df_tmp.rename(columns={injured_salary_df_tmp.columns[0]:"Player"}, inplace=True)
            injured_salary_df_tmp.loc[:,"team"] = team
            injured_salary_df_tmp.loc[:,"year"] = year
            injured_salary_df_tmp.loc[:,"table_type"] = "injured"
            injured_salary_df = pd.concat([injured_salary_df, injured_salary_df_tmp], ignore_index=True)
        else:
            injured_salary_df = pd.concat([injured_salary_df, pd.DataFrame()], ignore_index=True)

        if f"{year} Retained Salaries" in table_h2_lst:
            table_index += 1
            retained_salary_df_tmp = pd.read_html(r.text)[table_index]
            retained_salary_df_tmp.rename(columns={retained_salary_df_tmp.columns[0]:"Player"}, inplace=True)
            retained_salary_df_tmp.loc[:,"team"] = team
            retained_salary_df_tmp.loc[:,"year"] = year
            retained_salary_df_tmp.loc[:,"table_type"] = "retained"
            retained_salary_df = pd.concat([retained_salary_df, retained_salary_df_tmp], ignore_index=True)
        else:
            retained_salary_df = pd.concat([retained_salary_df, pd.DataFrame()], ignore_index=True)
            
        if f"{year} Minor/In the System" in table_h2_lst:
            table_index += 1
            minor_salary_df_tmp = pd.read_html(r.text)[table_index]
            minor_salary_df_tmp.rename(columns={minor_salary_df_tmp.columns[0]:"Player"}, inplace=True)
            minor_salary_df_tmp.loc[:,"team"] = team
            minor_salary_df_tmp.loc[:,"year"] = year
            minor_salary_df_tmp.loc[:,"table_type"] = "minor"
            minor_salary_df = pd.concat([minor_salary_df, minor_salary_df_tmp], ignore_index=True)
        else:
            minor_salary_df = pd.concat([minor_salary_df, pd.DataFrame()], ignore_index=True)
            
        if f"{year} Signing Bonus" in table_h2_lst:
            table_index += 1 
            signing_bonus_df_tmp = pd.read_html(r.text)[table_index]
            signing_bonus_df_tmp.rename(columns={signing_bonus_df_tmp.columns[0]:"Player"}, inplace=True)
            signing_bonus_df_tmp.loc[:,"team"] = team
            signing_bonus_df_tmp.loc[:,"year"] = year
            signing_bonus_df_tmp.loc[:,"table_type"] = "signing_bonus"
            signing_bonus_df = pd.concat([signing_bonus_df, signing_bonus_df_tmp], ignore_index=True)
        else:
            signing_bonus_df = pd.concat([signing_bonus_df, pd.DataFrame()], ignore_index=True)

        # 取得球員ID & url
        player_url_dict_tmp = {a.text:a['href'] for a in soup.select("td.player a")}
        player_url_dict.update(player_url_dict_tmp)
        
active_salary_df.reset_index(drop=True, inplace=True)
injured_salary_df.reset_index(drop=True, inplace=True)
retained_salary_df.reset_index(drop=True, inplace=True)
minor_salary_df.reset_index(drop=True, inplace=True)
signing_bonus_df.reset_index(drop=True, inplace=True)

print('>> 全數完成!!')

>> [1/30] arizona-diamondbacks

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:24<00:00,  2.21s/it]

>> [2/30] atlanta-braves

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:20<00:00,  1.87s/it]

>> [3/30] baltimore-orioles

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:21<00:00,  1.98s/it]

>> [4/30] boston-red-sox

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:26<00:00,  2.42s/it]

>> [5/30] chicago-cubs

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:24<00:00,  2.26s/it]

>> [6/30] chicago-white-sox

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:24<00:00,  2.20s/it]

>> [7/30] cincinnati-reds

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:25<00:00,  2.36s/it]

>> [8/30] cleveland-indians

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:26<00:00,  2.40s/it]

>> [9/30] colorado-rockies

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:24<00:00,  2.21s/it]

>> [10/30] detroit-tigers

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:22<00:00,  2.04s/it]

>> [11/30] houston-astros

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:25<00:00,  2.30s/it]

>> [12/30] kansas-city-royals

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:23<00:00,  2.11s/it]

>> [13/30] los-angeles-angels

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:19<00:00,  1.76s/it]

>> [14/30] los-angeles-dodgers

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:22<00:00,  2.04s/it]

>> [15/30] miami-marlins

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [01:09<00:00,  6.32s/it]

>> [16/30] milwaukee-brewers

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:27<00:00,  2.47s/it]

>> [17/30] minnesota-twins

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:27<00:00,  2.52s/it]

>> [18/30] new-york-mets

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:25<00:00,  2.36s/it]

>> [19/30] new-york-yankees

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:24<00:00,  2.18s/it]

>> [20/30] oakland-athletics

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:21<00:00,  1.93s/it]

>> [21/30] philadelphia-phillies

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:24<00:00,  2.22s/it]

>> [22/30] pittsburgh-pirates

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:26<00:00,  2.38s/it]

>> [23/30] san-diego-padres

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:27<00:00,  2.54s/it]

>> [24/30] san-francisco-giants

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:27<00:00,  2.49s/it]

>> [25/30] seattle-mariners

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:25<00:00,  2.32s/it]

>> [26/30] st-louis-cardinals

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:23<00:00,  2.11s/it]

>> [27/30] tampa-bay-rays

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:22<00:00,  2.01s/it]

>> [28/30] texas-rangers

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:22<00:00,  2.07s/it]

>> [29/30] toronto-blue-jays

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:22<00:00,  2.02s/it]

>> [30/30] washington-nationals

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:29<00:00,  2.69s/it]

>> 全數完成!!

In [11]:
print(f"player_url_dict: {len(player_url_dict)}")

player_url_dict: 8030

In [12]:
active_salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12824 entries, 0 to 12823
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           12824 non-null  object
 1   Age              12824 non-null  int64
 2   Pos.             12824 non-null  object
 3   Status           12790 non-null  object
 4   Base Salary      12824 non-null  object
 5   Signing Bonus    12824 non-null  object
 6   Incentives       12048 non-null  object
 7   Payroll Salary   12824 non-null  object
 8   Adj. Salary      12824 non-null  object
 9   Payroll %        12822 non-null  float64
 10  Lux. Tax Salary  12824 non-null  int64
 11  team             12824 non-null  object
 12  year             12824 non-null  int64
 13  table_type       12824 non-null  object
 14  Waiver Options   418 non-null    float64
dtypes: float64(2), int64(3), object(10)
memory usage: 1.5+ MB

In [13]:
active_salary_df.head()

,Player,Age,Pos.,Status,Base Salary,Signing Bonus,Incentives,Payroll Salary,Adj. Salary,Payroll %,Lux. Tax Salary,team,year,table_type,Waiver Options
0,Kelly Johnson,29,2B,Arb 3,"$5,850,000",-,-,"$5,850,000","$5,850,000",8.89,5800000,arizona-diamondbacks,2011,active,NaN
1,Joe Saunders,29,SP,Arb 2,"$5,500,000",-,-,"$5,500,000","$5,500,000",8.36,5500000,arizona-diamondbacks,2011,active,NaN
2,Chris Young,27,RF,Vet,"$5,000,000","$200,000",-,"$5,200,000","$5,200,000",7.90,5600000,arizona-diamondbacks,2011,active,NaN
3,Stephen Drew,28,2B,Arb 2,"$4,650,000",-,-,"$4,650,000","$4,650,000",7.07,6875000,arizona-diamondbacks,2011,active,NaN
4,Justin Upton,23,LF,Vet,"$4,250,000","$208,333",-,"$4,458,333","$4,458,333",6.78,8583333,arizona-diamondbacks,2011,active,NaN

In [20]:
player_url_df = pd.DataFrame.from_dict(player_url_dict, orient='index').reset_index()
player_url_df.columns = ["Player", "Player_url"]
player_url_df

                 Player                                      Player_url
0         Kelly Johnson     https://www.spotrac.com/redirect/player/23/
1          Joe Saunders    https://www.spotrac.com/redirect/player/451/
2           Chris Young    https://www.spotrac.com/redirect/player/689/
3          Stephen Drew    https://www.spotrac.com/redirect/player/428/
4          Justin Upton    https://www.spotrac.com/redirect/player/129/
...                 ...                                             ...
8025       Jean Estrada  https://www.spotrac.com/redirect/player/71239/
8026   Cristian Batista  https://www.spotrac.com/redirect/player/71232/
8027        Winder Diaz  https://www.spotrac.com/redirect/player/71233/
8028  Edward De La Cruz  https://www.spotrac.com/redirect/player/71234/
8029        Jeffem Leon  https://www.spotrac.com/redirect/player/71240/

[8030 rows x 2 columns]

In [21]:
formtoCsv(active_salary_df, "active_salary_df")
formtoCsv(injured_salary_df, "injured_salary_df")
formtoCsv(retained_salary_df, "retained_salary_df")
formtoCsv(minor_salary_df, "minor_salary_df")
formtoCsv(signing_bonus_df, "signing_bonus_df")
formtoCsv(player_url_df, "player_url_df")

 ==輸出備份csv==::: active_salary_df_20210806_08.49.09.csv
 >>> 建立今天的工作區: 0806
 ==輸出備份csv==::: injured_salary_df_20210806_08.49.09.csv
 ==輸出備份csv==::: retained_salary_df_20210806_08.49.09.csv
 ==輸出備份csv==::: minor_salary_df_20210806_08.49.10.csv
 ==輸出備份csv==::: signing_bonus_df_20210806_08.49.10.csv
 ==輸出備份csv==::: player_url_df_20210806_08.49.10.csv

In [23]:
r = rs.get("https://www.spotrac.com/redirect/player/129/") # 必須要登入 才有完整合約內容
r

In [26]:
# r.text

### FA紀錄(直接從premium 工具下載)

In [8]:
path = r"G:\我的雲端硬碟\python\app\MLB\spotrac_data\MLB Free Agents by Players  Spotrac.csv"
FA_df = read_data_dir_fPathExt(path)

  >> 讀取:: G:\我的雲端硬碟\python\app\MLB\spotrac_data\MLB Free Agents by Players  Spotrac.csv

In [9]:
FA_df #Year 為 YRS 第1年

,Rank,Player,Year,Pos,Status,Team From,Team From To,YRS,Value,AAV,Unnamed: 10
0,NaN,Bryce Harper,2019,RF,UFA,WSH,PHI,13,"$330,000,000","$25,384,615",NaN
1,NaN,Gerrit Cole,2020,SP,UFA,HOU,NYY,9,"$324,000,000","$36,000,000",NaN
2,NaN,Manny Machado,2019,3B,UFA,LAD,SD,10,"$300,000,000","$30,000,000",NaN
3,NaN,Stephen Strasburg,2020,SP,UFA,WSH,WSH,7,"$245,000,000","$35,000,000",NaN
4,NaN,Anthony Rendon,2020,3B,UFA,WSH,LAA,7,"$245,000,000","$35,000,000",NaN
...,...,...,...,...,...,...,...,...,...,...,...
1606,NaN,Wilton Lopez,2015,RP,UFA,COL,TOR,1,$0,$0,NaN
1607,NaN,Scott Moore,2013,3B,UFA,HOU,OAK,1,$0,$0,NaN
1608,NaN,Jose Veras,2015,RP,UFA,HOU,ATL,1,$0,$0,NaN
1609,NaN,Brad Hawpe,2013,RF,UFA,TEX,PIT,1,$0,$0,NaN
1610,NaN,Andrew Brown,2013,LF,UFA,COL,NYM,1,$0,$0,NaN

In [10]:
FA_df["Year"].value_counts()

2016    255
2015    231
2013    225
2014    215
2021    142
2020    121
2012    115
2019    106
2017    102
2018     99
Name: Year, dtype: int64

### 延長合約資料 (Extension)

In [11]:
# 記得要先登入

In [12]:
extension_df = pd.DataFrame()
for year in tqdm(range(2011, 2021+1)):
    url = f"https://www.spotrac.com/mlb/extensions/{year}/"
    r = sssn.get(url)
    soup = Soup(r.text)
    player_name_lst = [p.text for p in soup.select("table td.player a")]
    extension_tmp = pd.read_html(r.text)[0]
    extension_tmp.columns = [t[0] for t in extension_tmp.columns.tolist()]
    extension_tmp.loc[:,"Player"]= player_name_lst
    extension_tmp.loc[:,"year"]= year
    extension_df = pd.concat([extension_df, extension_tmp], ignore_index=True)

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:15<00:00,  1.45s/it]

In [13]:
extension_df

,Player,Pos.,Age @ Sign,Team @ Sign,Yrs,Dollars,AAV,2-Year Cash,3-Year Cash,year
0,Ryan Braun,LF,27,MIL,5,"$105,000,000","$21,000,000","$12,000,000","$21,500,000",2011
1,Koji Uehara,RP,35,BAL,1,"$3,000,000","$3,000,000",NaN,NaN,2011
2,Brandon Phillips,2B,30,CIN,6,"$72,500,000","$12,083,333","$22,575,000","$33,650,000",2012
3,Alexei Ramirez,SS,30,CHW,4,"$32,500,000","$8,125,000","$12,000,000","$21,515,000",2012
4,Clay Buchholz,SP,27,BOS,4,"$29,945,000","$7,486,250","$10,050,000","$17,750,000",2012
...,...,...,...,...,...,...,...,...,...,...
104,Jonathan Schoop,2B,29,DET,2,"$15,000,000","$7,500,000","$12,000,000",NaN,2021
105,Randy Dobnak,RP,25,MIN,5,"$9,250,000","$1,850,000","$1,500,000","$3,000,000",2021
106,Yulieski Gurriel,1B,36,HOU,1,"$7,000,000","$7,000,000",NaN,NaN,2021
107,Austin Barnes,C,31,LAD,2,"$4,300,000","$2,150,000","$4,300,000",NaN,2021
108,Josh Harrison,2B,33,WSH,1,"$1,000,000","$1,000,000",NaN,NaN,2021

In [14]:
formtoCsv(extension_df, "extension_df")

 ==輸出備份csv==::: extension_df_20210826_08.34.47.csv
 >>> 建立今天的工作區: 0826

### 挑出要爬的球員清單

In [15]:
player_set = set(extension_df["Player"])
player_set.update(set(FA_df["Player"]))
len(player_set)

1053

In [16]:
path = r"G:\我的雲端硬碟\python\output\0806\player_url_df_20210806_08.49.10.csv"
player_url_df = read_data_dir_fPathExt(path)

  >> 讀取:: G:\我的雲端硬碟\python\output\0806\player_url_df_20210806_08.49.10.csv

In [17]:
player_url_dict = pd.Series(player_url_df.Player_url.values,index=player_url_df.Player).to_dict()
player_url_dict_pic = {p:player_url_dict[p] for p in player_url_dict if p in player_set}

In [18]:
player_url_dict_pic['Kelly Johnson']

'https://www.spotrac.com/redirect/player/23/'

In [30]:
pd.read_html(player_url_dict_pic['Kelly Johnson'])[2]

,Year,Unnamed: 1,Age,Base Salary,Incentive,Luxury Tax Salary,Payroll Salary,Adjusted Salary,Yearly Cash,Unnamed: 9,Unnamed: 10
0,2016,NaN,34,"$2,000,000","$250,000",NaN,"$2,250,000","$1,528,693","$1,528,693($1,528,693)",NaN,NaN
1,2017,NaN,35,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ..."
3,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan

In [19]:
# for k,v in player_url_dict.items():
#     print(k)
#     break

In [20]:
# _df = pd.read_html(player_url_dict[player_url_dict_pic_lst[0]])[-1] #最後一個就是
# _df

In [21]:
# from multiprocessing.dummy import Pool as ThreadPool 

# WAR_df = pd.DataFrame()
# error_lst = []
# for player,url in tqdm(player_url_dict.items()):
#     def scrape_player_WAR(player_url_dict_one)
#         try:
#             _df = pd.read_html(url)[-1]
#             _df["player"] = player
#             WAR_df = pd.concat([WAR_df,_df])
#         except:
#             # 寫入log方便查看進度與保存
#             path = f'error_log//{site}_{date}_{time.split(":")[0]}.txt'
#             with open(path, 'a') as f:
#                 f.write(str({'site': site, 'date':date ,'time':time, 'response_json': response.json()}))
#             error_lst.append(player)
#             pass
    
# pool = ThreadPool(3)  # 同時建立及啟用 3個執行緒
# results = pool.map(scrape_one_day, player_url_dict)
# results_all_lst.append(results)

In [31]:
CurentContract_df = pd.DataFrame()
error_lst = []
for player,url in tqdm(player_url_dict_pic.items()):
    try:
        _df = pd.read_html(url)[2]
        _df["player"] = player
        CurentContract_df = pd.concat([CurentContract_df,_df])
    except:
        error_lst.append(player)
        pass

100%|████████████████████████████████████████████████████████████████████████████| 1052/1052 [1:30:40<00:00,  5.17s/it]

In [32]:
CurentContract_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4091 entries, 0 to 2
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               3390 non-null   object
 1   Unnamed: 1         1185 non-null   object
 2   Age                3405 non-null   object
 3   Base Salary        3405 non-null   object
 4   Incentive          248 non-null    object
 5   Luxury Tax Salary  1490 non-null   object
 6   Payroll Salary     2621 non-null   object
 7   Adjusted Salary    2473 non-null   object
 8   Yearly Cash        2621 non-null   object
 9   Unnamed: 9         1095 non-null   object
 10  Unnamed: 10        1174 non-null   object
 11  player             4091 non-null   object
 12  Unnamed: 8         844 non-null    object
 13  0                  685 non-null    object
 14  1                  680 non-null    object
 15  Signing Bonus      446 non-null    object
 16  Status             376 non-null    object
 17  Unnamed: 11        0 non-null      float64
 18  Unnamed: 0         17 non-null     object
 19  Total Salary       17 non-null     object
 20  Unnamed: 5         1 non-null      object
 21  Unnamed: 6         1 non-null      object
 22  Unnamed: 7         1 non-null      object
dtypes: float64(1), object(22)
memory usage: 767.1+ KB

In [33]:
CurentContract_df.head()

,Year,Unnamed: 1,Age,Base Salary,Incentive,Luxury Tax Salary,Payroll Salary,Adjusted Salary,Yearly Cash,Unnamed: 9,...,0,1,Signing Bonus,Status,Unnamed: 11,Unnamed: 0,Total Salary,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2016,NaN,34,"$2,000,000","$250,000",NaN,"$2,250,000","$1,528,693","$1,528,693($1,528,693)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,NaN,35,UFA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...","Contract Notes:Plate Appearances$250,000 each ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,Contract Source: Jeff Passan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2015,NaN,33,-,NaN,NaN,-,NaN,-($0),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
formtoCsv(CurentContract_df, "CurentContract_df")

 ==輸出備份csv==::: CurentContract_df_20210826_12.57.41.csv

In [24]:
WAR_df = pd.DataFrame()
error_lst = []
for player,url in tqdm(player_url_dict_pic.items()):
    try:
        _df = pd.read_html(url)[-1]
        _df["player"] = player
        WAR_df = pd.concat([WAR_df,_df])
    except:
        error_lst.append(player)
        pass

100%|████████████████████████████████████████████████████████████████████████████| 1052/1052 [1:27:22<00:00,  4.98s/it]

In [25]:
WAR_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8464 entries, 0 to 0
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Season                   8281 non-null   object
 1   Team                     7412 non-null   object
 2   GP                       5501 non-null   float64
 3   GS                       5501 non-null   float64
 4   AB                       4139 non-null   float64
 5   R                        8281 non-null   float64
 6   H                        8281 non-null   float64
 7   2B                       4139 non-null   float64
 8   3B                       4139 non-null   float64
 9   HR                       8281 non-null   float64
 10  RBI                      4139 non-null   float64
 11  BB                       8281 non-null   float64
 12  SB                       4139 non-null   float64
 13  K                        8281 non-null   float64
 14  AVG                      4139 non-null   float64
 15  OBP                      4139 non-null   float64
 16  SLG                      4139 non-null   float64
 17  OPS                      4139 non-null   float64
 18  WAR                      8281 non-null   float64
 19  player                   8464 non-null   object
 20  IP                       4142 non-null   float64
 21  ER                       4142 non-null   float64
 22  W                        4142 non-null   float64
 23  L                        4142 non-null   float64
 24  S                        4142 non-null   float64
 25  ERA                      4142 non-null   float64
 26  WHIP                     4142 non-null   float64
 27  Games                    2780 non-null   float64
 28  Date                     3 non-null      object
 29  Reason                   3 non-null      object
 30  Days Missed              178 non-null    float64
 31  Cash Paid While Injured  178 non-null    object
 32  Terms                    5 non-null      object
 33  Avg. Salary              5 non-null      float64
dtypes: float64(27), object(7)
memory usage: 2.3+ MB

In [26]:
formtoCsv(WAR_df, "WAR_df")

 ==輸出備份csv==::: WAR_df_20210819_10.24.49.csv
 >>> 建立今天的工作區: 0819

In [ ]:
# 讀檔

In [27]:
len(error_lst)

0

In [30]:
WAR_df.iloc[:,:20].head()

,Season,Team,GP,GS,AB,R,H,2B,3B,HR,RBI,BB,SB,K,AVG,OBP,SLG,OPS,WAR,player
0,2016,ATL,131.0,67.0,304.0,25.0,75.0,14.0,0.0,10.0,34.0,25.0,4.0,65.0,0.247,0.306,0.391,0.697,-0.73,Kelly Johnson
1,2015,ATL,111.0,78.0,310.0,38.0,82.0,12.0,0.0,14.0,47.0,23.0,2.0,81.0,0.265,0.314,0.439,0.753,-0.04,Kelly Johnson
2,2014,NYY,106.0,75.0,265.0,29.0,57.0,14.0,2.0,7.0,27.0,29.0,2.0,71.0,0.215,0.296,0.362,0.658,-0.08,Kelly Johnson
3,2013,TB,118.0,96.0,366.0,41.0,86.0,12.0,2.0,16.0,52.0,35.0,7.0,99.0,0.235,0.305,0.410,0.715,1.33,Kelly Johnson
4,2012,TOR,142.0,136.0,507.0,61.0,114.0,19.0,2.0,16.0,55.0,62.0,14.0,159.0,0.225,0.313,0.365,0.678,1.81,Kelly Johnson